[Unit]
Description=WiFi Access Point

[Service]
WorkingDirectory=/lib/systemd/scripts/
ExecStart=/lib/systemd/scripts/aplaunch.sh

[Install]
WantedBy=multi-user.target